.about-us-list {
  @extend %flexbox;
  @include fontFormats;
  list-style-type: none;
  color: $secondaryFontColor;
  gap: 30px;
  margin-bottom: 94px;
  &__title {
    @include fontFormats(1.14);
    font-weight: 700;
    text-transform: uppercase;
    color: $primaryFontColor;
  }
  &__icon {
    @extend %flexbox;
    @include size(270px, 120px);
    background-color: $lightColorAccent;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}
.header-secondary {
  @include fontFormats(1.17, 36px);
  text-align: center;
  margin-bottom: 50px;
}
.about-us-gallery {
  @extend %flexbox;
  gap: 30px;
  list-style-type: none;
  &__list-item {
    position: relative;
  }
  &__title {
    @extend %flexbox;
    @include fontFormats(1.14);
    @include paddings(27px, 27px);
    font-weight: 700;
    text-transform: uppercase;
    color: $baseColor;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    top: 224px;
  }
}
