.clients-list {
  @extend .team-list;
  &__item {
    @extend %flexbox;
    flex-basis: calc((100% - 60px) / 2);
    border: 1px solid $iconColor;
    border-radius: 4px;
    color: $iconColor;
    transition: border $transitionForm, color $transitionForm;
    &:hover,
    &:focus {
      border: 1px solid $colorAccent;
      cursor: pointer;
      color: $colorAccent;
    }
  }
}
@media (min-width: 768px) {
  .clients-list {
    &__item {
      flex-basis: calc((100% - 90px) / 3);
    }
  }
}
@media (min-width: 1200px) {
  .clients-list {
    &__item {
      max-width: 170px;
      flex-wrap: nowrap;
    }
  }
}
