.footer-bg-color {
  background: $footerColor;
}
.footer {
  @extend %flexbox;
  @include paddings(60px, 60px);
  gap: 60px;
  &__logo {
    color: $baseColor;
    @extend %flexbox;
    margin-bottom: 20px;
  }
  &__element-header {
    @include fontFormats(1.14);
    font-weight: 700;
    text-transform: uppercase;
    color: $baseColor;
    @extend %flexbox;
    margin-bottom: 20px;
  }
  &__input {
    width: calc(100vw - 30px);
    max-width: 450px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: none;
    padding: 15px 16px;
    color: $baseColor;
    &::placeholder {
      @include fontFormats(1.25, 16px);
      color: rgba(255, 255, 255, 0.6);
    }
  }
  &__button {
    @extend %flexbox;
    gap: 24px;
    fill: $baseColor;
    padding: 10px 28px 10px 42px;
    transition: fill $transitionForm;
  }
  &__form-container {
    @extend %flexbox;
    flex-direction: column;
    gap: 12px;
  }
}
.address-list {
  list-style-type: none;
  @extend %flexbox;
  flex-direction: column;
  &__link {
    @extend .link--selected;
    @include fontFormats;
    font-style: normal;
    color: $baseColor;
    display: block;
    &--color {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
.social-media {
  &__footer {
    color: $baseColor;
  }
  &__icon {
    &--footer-color {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
