.footer-bg-color {
  background: $footerColor;
}
.footer {
  @extend %flexbox;
  @include paddings(60px, 60px);
  gap: 60px;
  &__logo {
    color: $baseColor;
    @extend %flexbox;
    margin-bottom: 20px;
  }
  &__element-header {
    @include fontFormats(1.14);
    font-weight: 700;
    text-transform: uppercase;
    color: $baseColor;
    @extend %flexbox;
    margin-bottom: 20px;
  }
  &__input {
    width: calc(100vw - 30px);
    max-width: 450px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: none;
    padding: 15px 16px;
    color: $baseColor;
    &::placeholder {
      @include fontFormats(1.25, 16px);
      color: rgba(255, 255, 255, 0.6);
    }
  }
  &__button {
    @extend %flexbox;
    gap: 24px;
    fill: $baseColor;
    padding: 10px 28px 10px 42px;
    transition: fill $transitionForm;
  }
  &__form-container {
    @extend %flexbox;
    flex-direction: column;
    gap: 12px;
  }
}
@media (min-width: 768px) {
  .footer {
    padding-right: 89px;
    padding-left: 76px;
    &__logo {
      text-align: center;
      margin-right: 0;
    }
    &__container {
      margin-right: 84px;
    }
  }
}
@media (min-width: 1200px) {
  .footer {
    padding-right: 0;
    padding-left: 0;
    gap: 70px;
    flex-wrap: nowrap;
    &__logo {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    &__element-header {
      justify-content: flex-start;
    }
    &__form-container {
      flex-direction: row;
      flex-wrap: nowrap;
      margin-bottom: 34px;
    }
    &__input {
      @include size(358px, 50px);
      &:hover,
      &:focus,
      &:active {
        border-color: $colorAccent;
        outline: 0;
        background: none;
      }
    }
    &__container {
      margin-right: 0px;
    }
    &__button {
      flex-wrap: nowrap;
    }
  }
}
.address-list {
  list-style-type: none;
  @extend %flexbox;
  flex-direction: column;
  &__link {
    @extend .link--selected;
    @include fontFormats;
    font-style: normal;
    color: $baseColor;
    display: block;
    &--color {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
@media (min-width: 1200px) {
  .address-list {
    align-items: flex-start;
    gap: 9px;
  }
}
.social-media {
  &__footer {
    color: $baseColor;
  }
  &__icon {
    &--footer-color {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
@media (min-width: 768px) {
  .social-media {
    &__footer {
      margin-bottom: 42px;
    }
  }
}
@media (min-width: 1200px) {
  .social-media {
    &__footer {
      flex-wrap: nowrap;
    }
  }
}
