.container {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
.link {
  text-decoration: none;
  color: $primaryFontColor;
  &--selected {
    transition: color $transitionForm;
    &:hover,
    &:focus {
      color: $colorAccent;
    }
  }
}
.header {
  @include paddings(16px, 16px);
  &__border {
    border-bottom: 1px solid #ececec;
  }
  &__contact-list {
    display: none;
  }
}
@media (min-width: 768px) {
  .header {
    @include paddings(21px, 21px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__contact-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style-type: none;
      font-weight: 500;
      @include fontFormats(1.17, 12px, 0.02em);
    }
    &__contact-details {
      color: $secondaryFontColor;
      display: flex;
      align-items: center;
    }
    &__mail-icon {
      margin-right: 8px;
      @include size(14px, 10px);
    }
    &__phone-icon {
      margin-right: 8px;
      @include size(10px, 14px);
    }
  }
}
.main-nav {
  &__mobile {
    @extend %flexbox;
    justify-content: space-between;
  }
  &__list {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;
    &__list {
      display: flex;
      @include fontFormats(1.14, 14px, 0.02em);
      list-style-type: none;
      font-weight: 500;
      gap: 60px;
    }
  }
}
.menu-toggle {
  @extend %flexbox;
  background: none;
  border: none;
  fill: $primaryFontColor;
  transition: fill $transitionForm;
  &:hover,
  &:focus {
    fill: $colorAccent;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.logo {
  @include fontFormats(1.17, 24px);
  font-family: 'Raleway';
  font-weight: 700;
  color: $logoColor;
  &--color-accent {
    color: $colorAccent;
  }
}
@media (min-width: 768px) {
  .logo {
    margin-right: 83px;
  }
}
