.container {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
.link {
  text-decoration: none;
  color: $primaryFontColor;
  &--selected {
    transition: color $transitionForm;
    &:hover,
    &:focus {
      color: $colorAccent;
    }
  }
}
.header {
  @include paddings(16px, 16px);
  &__border {
    border-bottom: 1px solid #ececec;
  }
  &__contact-list {
    display: none;
  }
}
@media (min-width: 768px) {
  .header {
    @include paddings(21px, 21px);
    &__contact-list {
      display: flex;
    }
  }
}
.main-nav {
  &__mobile {
    @extend %flexbox;
    justify-content: space-between;
  }
  &__list {
    display: none;
  }
}
@media (min-width: 768px) {
  .main-nav {
    &__list {
      display: flex;
    }
  }
}
.menu-toggle {
  @extend %flexbox;
  background: none;
  border: none;
  fill: $primaryFontColor;
  transition: fill $transitionForm;
  &:hover,
  &:focus {
    fill: $colorAccent;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.logo {
  @include fontFormats(1.17, 24px);
  font-family: 'Raleway';
  font-weight: 700;
  color: $logoColor;
  &--color-accent {
    color: $colorAccent;
  }
}
