.backdrop {
  @include positions(0, 0, fixed);
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: visibility $transitionForm, opacity $transitionForm, transform $transitionForm;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}
/* Hamburger */
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.mobile-menu {
  list-style-type: none;
}
