$primaryFontColor: #212121;
$secondaryFontColor: #757575;
$colorAccent: #2196f3;
$lightColorAccent: #f5f4fa;
$baseColor: #fff;
$logoColor: #000;
$iconColor: #afb1b8;
$projectsGalleryColor: #eeeeee;
$footerColor: #2f303a;

$transitionForm: 250ms cubic-bezier(0.4, 0, 0.2, 1);

:root {
  --parent-color: currentColor;
}
